NODE_ENV=development
PORT=3000
POSTGRES_USER=chat
POSTGRES_PASSWORD=chat
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=chat
POSTGRES_TEST_URL=postgres://chat:chat@localhost:5432/chat_test?sslmode=disable
DATABASE_URL=postgres://chat:chat@localhost:5432/chat?sslmode=disable
SESSION_JWT_SECRET=dev-secret-change-me
BETTER_AUTH_SECRET=dev-secret-change-me-please-at-least-32-chars
BETTER_AUTH_URL=http://192.168.11.5:3000
BETTER_AUTH_GOOGLE_CLIENT_ID=<Get from https://console.cloud.google.com/auth/clients>
BETTER_AUTH_GOOGLE_CLIENT_SECRET=<Get from Key vault>
ALLOWED_ORIGINS="http://192.168.11.5:5173"
